*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 10px/16px = 62.5% -> 1rem =  10px*/
}

body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
}

/********************************************/
/* GENERAL REUSABLE COMPONENTS */
/********************************************/
.container {
    display: grid;
    grid-template-rows: 95vh repeat(3, min-content) 28vw 20vw min-content;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(6rem, 1fr)[full-end];
}

@media only screen and (max-width:50em) {
    .container {
        grid-template-rows: 95vh repeat(3, min-content) 40vw 40vw min-content;
    }
}

.heading-2 {
    font-size: 4rem;
    font-weight: 400;
}


.heading-4 {
    font-size: 1.9rem;
    font-weight: 400;
}

.btn {
    background-color: #e84546;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-lg {
    margin-bottom: 4rem;
}

.mb-hg {
    margin-bottom: 8rem;
}

/********************************************/
/* HEADER */
/********************************************/
.header {
    background-color: #3a3e63;
    grid-column: full-start / full-end;
    background-image: url(../css/img/header.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    justify-items: center;
}


.header__nav {
    height: 5vw;
    display: grid;
    grid-template-columns: minmax(min-content, 37rem) minmax(auto, 39rem) minmax(max-content, 37rem);
    grid-template-areas: "header__logo . main-nav";
    border-bottom: 1px solid gray;
}

.header__logo {
    grid-area: header__logo;
    place-self: center;
    justify-self: left;
}

.openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

.main-nav {
    grid-area: main-nav;
    place-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 6rem;
    list-style: none;
}

.main-nav__link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
}

.closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.header__items {
    text-align: center;
}

.header__main-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5rem;
    text-transform: uppercase;
}

.header__description {
    font-size: 2rem;
    font-weight: lighter;
}

.header__btn {
    padding: 1.5rem 5.5rem;
}

@media only screen and (max-width:50em) {
    .header__nav {
        border: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem 0 2rem;
    }

    .header__logo {
        justify-self: left;
    }

    .main-nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }

    .openMenu {
        display: block;
        justify-self: right;
    }

    .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

@media only screen and (max-width:37.5em) {
    .header {
        padding: 2rem 2rem 0 2rem;
    }

    .header__nav {
        padding: 0
    }

    .header__main-heading {
        font-size: 3.5rem;
    }
}

/********************************************/
/* FEATURES */
/********************************************/
.features {
    color: black;
    grid-column: center-start / center-end;
    margin: 12rem 0;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 8rem;
    align-items: start;
}

.feature {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    justify-items: center;

}

.feature__icon {
    width: 4.5rem;
    height: 4.5rem;
}

.feature__text {
    font-size: 1.7rem;
    text-align: center;
}

/********************************************/
/* GALLERY */
/********************************************/
.works-gallery {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 15vw);
}

.works-gallery__item {
    position: relative;
}

.works-gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.works-gallery__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(214, 65, 67, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.works-gallery__overlay:hover {
    opacity: 1;
}

.works-gallery__title {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.works-gallery__description {
    font-size: 1.2rem;
    margin-top: 0.25em;
    text-transform: capitalize;
}

/********************************************/
/* OUR TEAM */
/********************************************/
.our-team {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 2rem;
    padding: 10rem 0;
}

.our-team__img {
    width: 100%;
}

.our-team__name {
    color: black;
    font-size: 1.8rem;
    font-weight: 400;
}

.our-team__job-title {
    color: red;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.our-team__text {
    color: black;
    font-size: 1.3rem;
}

.fb-icon--grey.fb-icon,
.tw-icon--grey.tw-icon,
.in-icon--grey.in-icon {
    fill: #c7cbce;
    border: 1px solid #c7cbce;
}

/********************************************/
/* TESTIMONIALS*/
/********************************************/
.testimonials__slider {
    background: url(../img/carousel-1.jpg);
    background-size: cover;
    background-position: center;
    grid-column: full-start / col-end 4;


}

.testimonials__content {
    grid-column: col-start 5 / full-end;
    background-color: #523549;
    padding: 6rem 10vw;
    display: grid;
    align-content: center;
    justify-items: center;

}

.testimonials__text {
    font-family: 'Cardo', serif;
    font-size: 2rem;
}

.testimonials__title {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
}

#testimonials__indicator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testimonials__indicator label {
    width: 10px;
    height: 10px;
    background-color: #715a6a;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.testimonials__indicator #label-3 {
    background-color: #fff;
}

@media only screen and (max-width:50em) {
    .testimonials__slider {
        grid-column: 1 / -1;
        background-position: top;
    }

    .testimonials__content {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
    }

    .container {
        grid-template-rows: 95vh repeat(3, min-content) 40vw 40vw min-content;
    }
}

@media only screen and (max-width:37.5em) {
    .testimonials__text {
        font-size: 1.2rem;
        margin: 0;
    }

    .testimonials__title {
        font-size: 1.3rem;
        margin: 1rem 0;
    }
}

/********************************************/
/* DOWNLOAD */
/********************************************/
.download {
    grid-column: center-start / center-end;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-title {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 4rem;
}

.download-subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.download-btn {
    padding: 1.6rem 10rem;
    text-decoration: none;
}

@media only screen and (max-width:50em) {
    .download-title {
        font-size: 2rem;
    }

    .download-subtitle {
        font-size: 1.2rem;
        padding: 1.2rem 5rem;
    }

    .download-btn {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width:37.5em) {
    .download {
        text-align: center;
    }

    .download-btn {
        padding: 1.6rem 5rem;
    }

    .download-subtitle {
        font-size: 1rem;
    }
}

/********************************************/
/* FOOTER */
/********************************************/
.footer {
    background-color: #3a3e63;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) minmax(min-content, 37rem) minmax(min-content, 39rem) minmax(max-content, 37rem) minmax(6rem, 1fr);
    grid-template-rows: minmax(min-content, 5vw) minmax(min-content, 2vw);
    align-self: center;
    align-items: center;
}

.footer__location {
    grid-column: 2 / 3;
    justify-self: center;
    text-align: center;
    padding: 5rem 0 10rem 0;
}

.location__title,
.about__title,
.share__title {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
}

.location__text,
.about__text {
    font-size: 1.4rem;
}

.footer__share {
    grid-column: 3 / 4;
    justify-self: center;
}

.footer__share-icons {
    display: flex;
    justify-content: center;
}

.footer__about {
    grid-column: 4 / 5;
    justify-self: center;
    text-align: center;
}

.copyright {
    grid-column: 1 / 6;
    grid-row: 2 / 2;
    background-color: #313455;
    text-align: center;
    padding: 3rem 0;
    font-size: 1.3rem;
}

.red-heart {
    color: red;
}

.fb-icon,
.tw-icon,
.in-icon {
    border: 2px solid #fff;
    padding: 6px;
    width: 37px;
    height: 37px;
}

.tw-icon {
    margin: 0 5px;
}

@media only screen and (max-width:50em) {
    .footer {
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;
        grid-template-rows: repeat(4, minmax(min-content, 5vw));
        gap: 5rem;
        padding-top: 3rem;
    }

    .footer__location {
        grid-row: 1/1;
        grid-column: 1/6;
        padding: 0;
    }

    .footer__share {
        grid-row: 2/2;
        grid-column: 1/6;
    }

    .footer__about {
        grid-row: 3/3;
        grid-column: 1/6;
    }

    .copyright {
        grid-row: 4/4;
        grid-column: 1/6;
        justify-self: stretch;
    }
}